# Environment mode
NODE_ENV=development

# Postgres / PostGIS
POSTGRES_USER=infrasphere
POSTGRES_PASSWORD=infrasphere_secret
POSTGRES_DB=infrasphere
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Logical database connection URLs for microservices
DATABASE_URL_ASSET=postgresql://infrasphere:infrasphere_secret@postgres:5432/asset_db?schema=public
DATABASE_URL_INSPECTION=postgresql://infrasphere:infrasphere_secret@postgres:5432/inspection_db?schema=public
DATABASE_URL_MAINTENANCE=postgresql://infrasphere:infrasphere_secret@postgres:5432/maintenance_db?schema=public
DATABASE_URL_RISK=postgresql://infrasphere:infrasphere_secret@postgres:5432/risk_db?schema=public
DATABASE_URL_NOTIFICATION=postgresql://infrasphere:infrasphere_secret@postgres:5432/notification_db?schema=public
DATABASE_URL_AUDIT=postgresql://infrasphere:infrasphere_secret@postgres:5432/audit_db?schema=public

# JWT Auth Secret
JWT_SECRET=infrasphere_jwt_secret_dev_key_2026_super_secure

# Redis (Caching & Job Queue)
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ (Event Broker)
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=infrasphere
RABBITMQ_PASSWORD=infrasphere_secret
RABBITMQ_EXCHANGE=infrastructure.events

# MinIO (Object Storage)
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ACCESS_KEY=infrasphere_admin
MINIO_SECRET_KEY=infrasphere_password
MINIO_BUCKET_NAME=infrasphere-assets

# Google Gemini API
GEMINI_API_KEY=

# Internal Microservice Service URLs
ASSET_SERVICE_URL=http://asset-service:3001
INSPECTION_SERVICE_URL=http://inspection-service:3002
MAINTENANCE_SERVICE_URL=http://maintenance-service:3003
RISK_SERVICE_URL=http://risk-service:3004
AI_SERVICE_URL=http://ai-service:3005
NOTIFICATION_SERVICE_URL=http://notification-service:3006
AUDIT_SERVICE_URL=http://audit-service:3007

# Ports
GATEWAY_PORT=3000
ASSET_SERVICE_PORT=3001
INSPECTION_SERVICE_PORT=3002
MAINTENANCE_SERVICE_PORT=3003
RISK_SERVICE_PORT=3004
AI_SERVICE_PORT=3005
NOTIFICATION_SERVICE_PORT=3006
AUDIT_SERVICE_PORT=3007
FRONTEND_PORT=5173

# Frontend CORS
FRONTEND_URL=http://localhost:5173
